<% include partials/header %>

<h1>Welcome to the Campground</h1>
<p>Please feel free to browse</p>

<a href ="/campground.js">Browse the Campgrounds</a>
<p>Come back soon</p>

<% include partials/footer %>